<template>
  <div>
      <p>{{name3}} </p>
      <input type="number" v-model.number="name">
      <input type="number" v-model.number="name2">
      <button @click="sum()">sum</button>
      <button @click="down">down</button>
  </div>
</template>

<script>
export default {
  name : 'd',
  data() {
    return {
      name : 0,
      name2 : 0,
      name3 : 0
    }
  },
  methods : {
    sum(){
      this.name3 = this.name + this.name2 
    },
    down(){
      this.name3 = this.name - this.name2
    }
  }
}
</script>

<style>

</style>