<template>
  <div>
      {{num3}}
    <input type="number" v-model.number="num1">
    <input type="number" v-model.number="num2">
    <input type="text" v-model="sym">
    <button @click="all()">กด</button> 
  </div>
</template>

<script>
export default {
name : 'n',
data() {
  return {
    num1 : 0,
    num2 : 0,
    num3 : 0,
    sym : ''
  }
},
methods:{
  all(){
    if (this.sym=='+') {
      this.num3 = this.num1 + this.num2
    }
    else if(this.sym=='-'){
      this.num3 = this.num1 - this.num2
    }
    else if(this.sym=='*'){
      this.num3 = this.num1 * this.num2
    }
    else if(this.sym=='/'){
      this.num3 = this.num1 / this.num2
    }
  }
}
}
</script>

<style>

</style>