<template>
<div id="nav">
    <Menu></Menu>
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/count">Count</router-link> |
      <router-link to="/num">Num</router-link> |
      <router-link to="/photo">photo</router-link>
    </div>
</template>

<script>

</script>

<style>

</style>